<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Godfather</title>
    <style>
    .picstyle{
        font-size:20px;
        margin: 20px auto;
        text-align: center;
        font-weight: bold;
    
    }
    .textstyle{
        font-size: 15px;
        margin: 10px auto;
        text-align:center;
    }
    </style>
</head>
<body>
    <div class="picstyle">The Godfather</div>
    <div align="center"><img src="static/godfather.png", width="200", height="200",auto/></div>
    <div class="textstyle">The early life and career of Vito Corleone in 1920s New York City is portrayed,
         while his son, Michael, expands and tightens his grip on the family crime syndicate.</div>
</body>
</html>