<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My favorite 5 movies</title>
</head>

<body>
    <div>My favorite movies:</div>
       <ul>
           <li><a href="http://localhost:5000/movie/01">The Godfather</a></li>
           <li><a href="http://localhost:5000/movie/02">Do the Right Thing</a></li>
           <li><a href="http://localhost:5000/movie/03">Before Sunrise</a></li>
           <li><a href="http://localhost:5000/movie/04">Boyhood</a></li>
           <li><a href="http://localhost:5000/movie/05">Before Sunrise</a></li>
       </ul>
    
</body>
</html>