<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Before Sunrise</title>
    <style>
    .picstyle{
        font-size:20px;
        margin:20px auto;
        text-align: center;
        font-weight: bold;
    
    }
    .textstyle{
        font-size: 15px;
        margin: 10px auto;
        text-align:center;
    }
    </style>
</head>
<body>
    <div class="picstyle">Before Sunrise</div>
    <div align="center"><img src="/static/sunrise.jpg", width="200", height="200",auto/></div>
    <div class="textstyle">Richard Linklater's "Before Sunrise" — and its sequels, 
        each made nine years apart — are the most romantic movies ever made.</div>
</body>
</html>