<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Do the Right Thing</title>
    <style>
    .picstyle{
        font-size:20px;
        margin: 20px auto;
        text-align: center;
        font-weight: bold;
    
    }
    .textstyle{
        font-size: 15px;
        margin: 10px auto;
        text-align:center;
    }
    </style>
</head>
<body>
    <div class="picstyle">Do the Right Thing</div>
    <div align="center"><img src="/static/rightthing.jpg", width="200", height="200",auto/></div>
    <div class="textstyle">With its carefully built complex narrative, Spike Lee's is a visceral movie about race in America 
        that lends itself to new interpretations every time you watch it.</div>
</body>
</html>