<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search Product</title>
</head>
<body>

    <form action="/result" method="POST">
        Product name: <input type="text" name="productname" />
        Price: <input type="text" name="pricename" />
        QTY: <input type="text" name="qty"/>
        <input type="submit" value="Submit" />
      </form>

</body>
</html>