<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Articles</title>
</head>
<body>
    {% for article in articles %}
    <p>{{article["content"]}}</p>
    {% if article["seen"]|length == 3 %}
    <p>Seen by {{article["seen"][0]}}, {{article["seen"][1]}} and {{article["seen"][2]}} </p>
    {% elif article["seen"]|length == 2 %}
    <p>Seen by {{article["seen"][0]}} and {{article["seen"][1]}} </p>    
    {% elif article["seen"]|length == 1 %}
    <p>Seen by {{article["seen"][0]}} </p>
    {% elif article["seen"]|length == 0 %}
    <p>No one has seen this article before. </p>
    {% endif %}
    {% endfor %}
</body>
</html>